/* Estilos CSS aquí */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  color: #333;
}

.calendar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controls button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #45a049;
}

.months {
  display: grid;
  gap: 20px;
}

.month {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.month-name {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}

.day:last-child {
  border-bottom: none;
}

.day:not(:empty):hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto; /* Permitir desplazamiento en el contenido del modal */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Limitar el ancho máximo del modal */
  text-align: center;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.time-slot {
  background-color: #a5d6a7;
  color: #333;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.time-slot:hover {
  background-color: #81c784;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}

.selected {
  text-decoration: line-through;
  color: #aaa;
}

.day-occupied {
  background-color: #ffcc80 !important;
}
